<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Document</title>
    <style></style>
</head>
<body>
    <div id="app" style="text-align: center;">
        <h4>Adicionar pacientes</h4>
        <span>Nome: </span> <input type="text" id="inputNome"> <br>
        <span>Idade : </span> <input type="text" id="inputIdade"> <br>
        <span>Plano : </span> <input type="text" id="inputPlano"> <br>
            <br>
        <button @click="adicionarPaciente()">Adicionar</button> <br>
            <hr>
        <h4>Último paciente</h4>
        <p v-if="pacientes.length > 0">
           {{  ultimoPaciente }}
        </p>
            <hr>
        <h4>Pacientes do plano Gordinho Suado</h4>
        <p v-for="p in planoGSPaciente">
            {{ p.nome }} - {{ p.idade }} - {{ p.plano }}
        </p>
         <hr>

        <h4>Pacientes registados</h4>
        <p v-for="p in pacientes">{{ p.nome }}</p>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                pacientes: []
            },
            methods: {
                adicionarPaciente() {
                    this.pacientes.push({
                        nome: inputNome.value,
                        idade: inputIdade.value,
                        plano: inputPlano.value
                    })
                }
            },
            computed:   {
                ultimoPaciente()    {
                    let key = this.pacientes.length - 1
                    let txt = ' '

                    txt += 'Paciente ' + this.pacientes[key].nome
                    txt += '- Idade ' + this.pacientes[key].idade
                    txt += '- Plano ' + this.pacientes[key].plano +'.'

                    return txt
                },
                planoGSPaciente() {
                    return this.pacientes.filter(item => item.plano == 'Gordinho Suado') 
                }
            }
        })

    </script>
</body>
</html>